@model VeterinaryClinic.Models.Animal

@{
    ViewData["Title"] = "Details";
}

<h1>Подробности</h1>

<div>
    <h4>Питомец</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NickName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NickName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kind)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kind)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Breed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Breed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt class="col-sm-2">
            Сведения о хозяине
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Имя хозяина</th>
                    <th>Адрес хозяина</th>
                    <th>Стоимость лечения</th>
                </tr>
                @foreach (var item in Model.Visits)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.Fio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    Оплачено
                </td>
            </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AnimalID">Редактировать</a> |
    <a asp-action="Index">Обратно к списку</a>
</div>
